<md-card>
  <md-card-title>Possible rides</md-card-title>
  <md-card-content>
    <table>
      <thead>
      <tr>
        <th>Wanneer</th>
        <th>Van</th>
        <th>Naar</th>
        <th>
          <button md-icon-button md-tooltip="accepteer alle voorstellen" tooltip-position="below">
            <md-icon class="md-24">done_all</md-icon>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Maandag 9u</td>
        <td>Hechtel</td>
        <td>Hasselt</td>
        <td>
          <button md-icon-button>
            <md-icon class="md-24">done</md-icon>
          </button>
          <button md-icon-button>
            <md-icon class="md-24">backspace</md-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Maandag 17u</td>
        <td>Hasselt</td>
        <td>Hechtel</td>
        <td>
          <button md-icon-button>
            <md-icon class="md-24">done</md-icon>
          </button>
          <button md-icon-button>
            <md-icon class="md-24">backspace</md-icon>
          </button>
        </td>
      </tr>
      </tbody>

    </table>
  </md-card-content>
</md-card>
