/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0px;
  padding: 0px;
  background-color: #f2f2f2
}

main {
  position: relative;
  width: calc(100% - 80px);
  margin: 40px;
}
